:root {
    --color1: #343838;
    --color2: #005F6B;
    --color3: #008C9E;
    --color4: #00B4CC;
    --color5: #00DFFC;
}

.contfooter {
    z-index: 1 !important;
}

.footer-color {
    color: #ffffff;
    margin-bottom: 0 !important;
}

.bg-post {
    background-color: var(--color3);
}

.Colorbg {
    background-color: var(--color4);
}

.text-green {
    color: var(--color4);
}

.borde-orange {
    border-color: var(--color5);
    border-style: groove;
    border-width: 3px;
}

.img-footer {
    width: 150px;
}

.icons {
    width: 30px;
    height: 30px;
    color: var(--color5);
}

@media (max-width: 990px) {
    .img-footer {
        width: 70px;
    }
}