<div class="container-fluid mt-2 ">

    <div class="row ">


        <div class="col-2 border-calis-col p-0 ">
            <div class="card  text-center justify-content-center bg-secondary text-light">
                <img src="assets/img/mecv.png " class="imgperfil m-auto img-circle  ">
                <div class="card-body  ">
                    <h4 class="card-title ">Felipe de Haro</h4>
                    <span> Desarrollador Front-End y Diseñador UI/UX</span>
                </div>
                <div class="card-footer  badge-light text-center ">
                    <a href="# " class="btn btn-outline-dark text-dark">Descargar CV</a>
                </div>
            </div>
        </div>

        <div class="col-9 border-calis-col text-dark">

            <h2 class="pt-4 pb-3 ">Hola soy felipe de haro</h2>

            <p>Soy Ingeniero en Tecnologías de la Información y comunicaciones, egresado de la universidad tecnologica de nayarit.me especializo en desarrollo web front-end y tengo experiancia como diseñador IU y UX . he tenido la oportunidad de trabajar
                en todas las etapas del ciclo de desarrollo para proyectos web, redes de telecomunicacion y auditorias adquieriendo conocimiento y experiencia en gestión de proyectos.</p>

            <hr>

            <div class="container">

                <div class="row">
                    <div class="col-6 border-calis-col">
                        <h5>Informacion personal</h5>
                        <div class="container">
                            <div class="row">
                                <div class="col-5">
                                    <div>
                                        <p>Nombre completo: </p>
                                    </div>
                                    <div>
                                        <p>DOB :</p>
                                    </div>
                                    <div>
                                        <p>Email :</p>
                                    </div>
                                    <div>
                                        <p>Telefono :</p>
                                    </div>
                                </div>
                                <div class="col-7">
                                    <div>
                                        <p>Felipe de Jesus de haro Lopez</p>
                                    </div>
                                    <div>
                                        <p>05 de febrero del 1996.</p>
                                    </div>
                                    <div>
                                        <p>felipedharo.2@gmail.com</p>
                                    </div>
                                    <div>
                                        <p>3251122469</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 border-calis-col">
                        <h5>Idiomas</h5>
                        <div class="my-2">
                            <span class="py-2">Español </span>
                            <div class="progress bg-secondary ">
                                <div class="progress-bar" role="progressbar" style="width: 98%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">Nativo</div>
                            </div>
                        </div>
                        <div class="my-2">
                            <span class="py-2">Ingles </span>
                            <div class="progress bg-secondary ">
                                <div class="progress-bar" role="progressbar" style="width: 60%" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100">Intermedio</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>


        </div>

        <div class="col-1 border-calis-col  text-center">
            <div class="position-fixed ">
                <nav class="nav flex-column bg-light  position-relative  nav2 ">
                    <div class="sidebar ">
                        <div class="my-3 text-center">
                            <img src="assets/img/logo.png" class="img-fluid img-logo">

                        </div>
                        <ul class="navbar-nav text-center  ">
                            <li class="nav-item text-dark  nav-hover my-2 p-0">
                                <a routerLinkActive="onActiveSide" class="nav-link subtitle-size" data-toggle="tooltip" data-placement="left" title="Home">
                                    <i class="fas fa-home fa-2x"></i>
                                    <!-- <small class="text-dark">Home</small> -->
                                </a>
                            </li>
                            <li class="nav-item text-dark  nav-hover my-2  p-0">
                                <a routerLinkActive="onActiveSide" class="nav-link subtitle-size" data-toggle="tooltip" data-placement="left" title="About">
                                    <i class="fas fa-clipboard fa-2x"></i>
                                    <!-- <small class="text-dark">About</small> -->
                                </a>
                            </li>
                            <li class="nav-item text-dark nav-hover my-2  p-0">
                                <a routerLinkActive="onActiveSide" class="nav-link subtitle-size" data-toggle="tooltip" data-placement="left" title="Services">
                                    <i class="fas fa-award fa-2x"></i>
                                    <!-- <small class="text-dark">Servicios</small> -->
                                </a>
                            </li>
                            <li class="nav-item text-dark  nav-hover my-2   p-0">
                                <a routerLinkActive="onActiveSide" class="nav-link subtitle-size" data-toggle="tooltip" data-placement="left" title="C.V.">
                                    <i class="far fa-calendar-check fa-2x"></i>
                                    <!-- <small class="text-dark">Cv</small> -->
                                </a>
                            </li>
                            <li class="nav-item text-dark  nav-hover my-2  p-0">
                                <a routerLinkActive="onActiveSide" class="nav-link subtitle-size" data-toggle="tooltip" data-placement="right" title="Work">
                                    <i class="fas fa-tools fa-2x"></i>
                                    <!-- <small class="text-dark">Work</small> -->
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

    </div>

</div>