<nav class="navbar navbar-light navbar-expand-lg nav sombranav d-flex align-center fixed-top pl-0 pr-0  mb-3">
    <div class="container">
        <div class="row mx-auto mw-100 w-100">
            <div class="col-4 p-0 ">
                <a class="navbar-brand  float-left" href="#">
                    <img src="assets/img/LOGO12V1.png" class="img-logo  d-inline-block align-content-center" alt=""> Felipe De Haro
                </a>

            </div>
            <div class="col-6 p-0 ">
                <div id="collapsibleNavbar" class="collapse navbar-collapse enlaces navbar-text  justify-content-center">
                    <ul class="navbar-nav enlaces align-self-center  ">

                    </ul>
                </div>
            </div>
            <div class="col-2 text-center align-items-center justify-content-center">
                <button class="navbar-toggler btntogle" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                     <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
</nav>